better_apidoc==0.3.2
datasets==2.11.0
fairseq==0.12.2
filetype==1.2.0
h5py==3.8.0
huggingface_hub==0.13.2
HyperPyYAML==1.1.0
importlib_metadata==4.6.4
inflect==6.0.2
ipython==8.11.0
joblib==1.2.0
jsonlines==3.1.0
jsonpickle==3.0.1
kaldi_io==0.9.5
librosa==0.10.0.post2
matplotlib==3.7.1
mir_eval==0.7
numba==0.56.4
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pesq==0.0.4
pyloudnorm==0.1.1
pyroomacoustics==0.7.3
pysndfx==0.3.6
pystoi==0.3.3
pytest==7.2.2
PyYAML==6.0
requests==2.25.1
ruamel.base==1.0.0
sacrebleu==2.3.1
sacremoses==0.0.53
scikit_learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.97
setuptools==59.6.0
soundfile==0.12.1
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.65.0
transformers==4.27.4
webdataset==0.2.48
